.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(48, 131, 255);
  color: white;
}
.nav-link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}

.nav-child :focus {
  color: rgb(184, 182, 182);
  font-weight: bold;
}

.nav-child:hover {
  background-color: orange;
}

.nav-child__pour {
  color: white;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.footer {
  border-top: 1px solid #ccc;
  padding: 5px 0px;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  background-color: rgb(48, 131, 255);
  margin-top: 340px;
  position: sticky;
  box-sizing: border-box;
}

.footer-text__link {
  color: white;
}

.footer-text__link:hover {
  color: red;
}

table,
th,
td {
  margin: 25px;
  justify-content: center;
  font-size: 15pt;
}

tr {
  list-style: none;
  text-align: center;
}

.imgd {
  width: 50px;
}

.arrNumber {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}

.btnDetails {
  color: white;
}
